@import 'bootstrap/dist/css/bootstrap';

.search-area {
  padding-top: 50px;
}

.no-left-padding {
  padding-left: 0;
}

.no-right-padding {
  padding-right: 0;
}

.results-block {
  display: inline-block;
}